In [ ]:
# Q.1 Write a code to reverse a string.

str = input("Enter your string : ")
print("Your reversed string is ",str[::-1])

Enter your string : ankit
Your reversed string is  tikna

In [ ]:
# Q.2 Write a code to count the number of vowels in a string.

str = input("Enter your string : ")
count = 0
for i in str:
  if i =="a" or i == "e" or i=="i" or i=="o" or i=="u":
    count = count + 1
print("Number of vowels in a string is",count)

Enter your string : geet
Number of vowels in a string is 2

In [ ]:
# Q.3 Write a code to check if a given string is a palindrome or not?

str = input("Enter your string :")
if str == str[::-1]:
    print("Given string is palindrome")
else:
    print("Given string is not a palindrome")

Enter your string :naman
Given string is palindrome

In [ ]:
# Q.4 Write a code to check if two given strings are anagrams of each other.

str1 = input("enter first string :")
str2 = input("enter second string : ")
if sorted(str1) == sorted(str2):
  print("strings are anagrams")
else:
  print("strings are not anagrams")

enter first string :mug
enter second string : umg
strings are anagrams

In [ ]:
# Q.5 Write a code to find all occurrences of a given substring within another string.

str = input("Enter string : ")
substr = input("Enter substring : ")
if substr in str:
  print("subtring is present in string")
else:
  print("subtring is not present in string")

Enter string : apple
Enter substring : pk
subtring is not present in string

In [ ]:
# Q.6 Write a code to determine if a string has all unique characters

str = input("Enter string : ")
if len(str) == len(set(str)):
  print("String has all unique characters")
else:
   print("String has not unique characters")

Enter string : ankit
String has all unique characters

In [ ]:
# Write a code to convert a given string to uppercase or lowercase.

str = input("Enter string : ")
print("Uppercase is ",str.upper())
print("Lowercase is ",str.lower())

Enter string : Hello
Uppercase is  HELLO
Lowercase is  hello

In [ ]:
# Write a code to count the number of words in a string ?

def count_words(str):
  a = str.split()
  return len(a)

count_words("This is a first string")

5

In [ ]:
# Write a code to concatenate two strings without using the + operator.

def concat_str(str1,str2):
  return str1 + str2

concat_str("This is ","a first string")

'This is a first string'

In [ ]:
# Write a code to remove all occurrences of a specific element from a list.

def remove_element(list,element):
  for i in list:
    if i == element:
      list.remove(i)
    return list

remove_element(["Ankit","Ds","iit"],"Ankit")

['Ds', 'iit']

In [ ]:
# Implement a code to find the second largest number in a given list of integers.

a = [12,14,1,2,3,21,11,9,8,7]
b = sorted(a)
print("Second Largest number is ",b[-2])

Second Largest number is  14

In [ ]:
# Write a code to reverse a list in-place without using any built-in reverse functions.

def reverse(list):
  return list[::-1]

reverse([12,13,14,15,16])

[16, 15, 14, 13, 12]

In [ ]:
# Implement a code to find and remove duplicates from a list while preserving the original order of elements

a = [1,1,1,1,2,2,2,2,2,3,4,4,4,5,5,5,5,5]
b = set(a)
c = sorted(b)

print(c)

[1, 2, 3, 4, 5]

In [ ]:
#  Create a code to check if a given list is sorted (either in ascending or descending order) or not.

def check_sorted(list):
  if list == sorted(list) or list == sorted(list, reverse = True):
    return "List is sorted"
  else:
    return "List is not sorted"

check_sorted([1,4,1,2,5,7])

'List is not sorted'

In [ ]:
# Write a code to merge two sorted lists into a single sorted list.

def merge_list(list1,list2):
  list3 = list1 + list2
  return sorted(list3)

merge_list([1,2,5,6,2,7,3,4],[2,1,0,0,3])

[0, 0, 1, 1, 2, 2, 2, 3, 3, 4, 5, 6, 7]

In [ ]:
# Implement a code to find the intersection of two given lists.

a = [1,2,3,4,5]
b = [2,3,4,6,7,8]

c = set(a) & set(b)
print(list(c))

[2, 3, 4]

In [ ]:
# Create a code to find the union of two lists without duplicates.


a = [1,2,3,4,5]
b = [2,3,4,6,7,8]

c = set(a) | set(b)
print(list(c))

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
# Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

a = input("Enter elements of tuple 1 :")
b = input("Enter elements of tuple 2 :")

c = [float(i) for i in a.split(",")]
d = [float(i) for i in b.split(",")]

e = set(c) & set(d)
print(tuple(e))

Enter elements of tuple 1 :1,2,3,4,5
Enter elements of tuple 2 :2,3,4,6,7
(2.0, 3.0, 4.0)

In [ ]:
#  Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [ ]:
a = input("Enter elements of set 1 : ")
b = input("Enter elements of set 2 : ")

c = {float(i) for i in a.split(",")}
d = {float(i) for i in b.split(",")}

e = set(c) & set(d)
print(e)

In [ ]:
# Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

def concat_tuples():
  a = input("Enter elements of set 1 : ")
  b = input("Enter elements of set 2 : ")

  c = tuple(float(i) for i in a.split(",") if type(int(i)) == int or type(float(i)) == float)
  d = tuple(float(i) for i in b.split(",") if type(int(i)) == int or type(float(i)) == float)
  return c+d

concat_tuples()

Enter elements of set 1 : 1,2,3,4,5
Enter elements of set 2 : 6,7,8,9

(1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0)

In [ ]:
# Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

a = input("Enter strings of set 1 : ")
b = input("Enter strings of set 2 : ")

list1 = [i for i in a.split(",")]
list2 = [i for i in b.split(",")]

set1 = set(list1)
set2 = set(list2)
print(set1 - set2)

Enter strings of set 1 : Bob,Alice,Tom,Jerry
Enter strings of set 2 : Bob,Alice
{'Tom', 'Jerry'}

In [ ]:
# Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

def new_tuple():
  s = input("Enter elements of tuple : ")
  num1 = int(input("Enter first index : "))
  num2 = int(input("Enter second index : "))

  a = tuple(float(i) for i in s.split(",") if type(int(i)) == int or type(float(i)) == float)
  return a[num1 : num2+1]

new_tuple()

Enter elements of tuple : 1,2,3,4,5,6,7,8,9
Enter first index : 2
Enter second index : 6

(3.0, 4.0, 5.0, 6.0, 7.0)

In [ ]:
# Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

s1 = input("Enter characters of set 1 : ")
s2 = input("Enter characters of set 2 : ")

l1 = [i for i in s1.split(",")]
l2 = [i for i in s2.split(",")]

final_set = set(l1) | set(l2)
print(final_set)

Enter characters of set 1 : A,B,C,D
Enter characters of set 2 : E,F,G,H
{'G', 'B', 'E', 'C', 'F', 'H', 'D', 'A'}

In [ ]:
# Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

def max_min_value():
  s = input("Enter elements of tuple : ")

  a = tuple(float(i) for i in s.split(",") if type(int(i)) == int or type(float(i)) == float)
  return max(a),min(a)


max_min_value()

Enter elements of tuple : 1,2,3,56,78,90,100,21

(100.0, 1.0)

In [ ]:
# Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

def set_ops():
  s1 = input("Enter elements of set 1 : ")
  s2 = input("Enter elements of set 2 : ")

  set1 = {float(i) for i in s1.split(",") if type(float(i)) == float}
  set2 = {float(i) for i in s2.split(",") if type(float(i)) == float}

  print("Union of both sets is ",set1 | set2)
  print("Intersection of both sets is ",set1 & set2)
  print("Difference of both sets is ",set1 - set2)


set_ops()

Enter elements of set 1 : 1,2,3,4
Enter elements of set 2 : 2,5,3,9,10
Union of both sets is  {1.0, 2.0, 3.0, 4.0, 5.0, 9.0, 10.0}
Intersection of both sets is  {2.0, 3.0}
Difference of both sets is  {1.0, 4.0}

In [ ]:
# Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple count.

def count_number(tuple,element):
  return tuple.count(element)

count_number((1,1,1,2,2,2,3,3,4,5),2)

3

In [ ]:
# Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

def symm_diff(set1,set2):
  return set1 ^ set2

symm_diff({1,2,3,5,6},{2,3,4,7,8})

{1, 4, 5, 6, 7, 8}

In [ ]:
#  Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

def word_freq(list):
  dict = {}
  for i in list:
    if i in dict:
      dict[i] += 1
    else:
      dict[i] = 1
  return dict

word_freq([1,1,1,2,2,3,4,5,5,5,6])

{1: 3, 2: 2, 3: 1, 4: 1, 5: 3, 6: 1}

In [ ]:
# Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

def add_dict(dict1,dict2):
  dict1.update(dict2)
  print(dict1)

add_dict({"A":[1,2,3],"B": [4,5,6]},{"C": [7,8,9]})

{'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}

In [ ]:
# & Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [21]:
# Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

def dict_sort(dict,ascending = True):
  sort_item = sorted(dict.items(),key = lambda item : item[1],reverse = not ascending)
  return sort_item

dict_sort({"a":1,"b":3,"c":2})

[('a', 1), ('c', 2), ('b', 3)]

In [27]:
# Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

from collections import defaultdict

def inverse_dic(dictionary):
  inv_dic = defaultdict(list)
  for key,value in dictionary.items():
    inv_dic[value].append(key)
  return inv_dic

inverse_dic({'a':1,"b":2,"c":1})

defaultdict(list, {1: ['a', 'c'], 2: ['b']})